* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    ;
}

.teach {
    display: inline-block;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    ;
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-align: left;
    color: #000000;
}

nav {
    display: inline-block;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin-right: 45px;
    font-weight: normal;
    font-size: 24px;
}

.border-about {
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 199, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.project {
    display: inline-block;
    width: 400px;
    font-size: 18px;
    margin-left: 65px;
    margin-top: 17px;
}

.h2 {
    display: flex;
    justify-content: space-around;
}

.par {
    display: flex;
    justify-content: space-around;
}

h2 {
    font-size: 35px;
    color: #d18725;
}

.par p {
    font-size: 20px;
}

footer {
    margin-top: 30px;
    background: rgba(255, 199, 0, 0.4);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.firma {
    padding-top: 62px;
}

#down a {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: black;
}

.firma {
    display: flex;
    justify-content: space-between;
}

.tech {
    background: #454545;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    padding: 14px 86px;
    margin-top: 54px;
    margin-bottom: 113px;
}

#cheater {
    display: flex;
    justify-content: flex-end;
}

#down a {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: black;
}

@media(max-width: 1024px) {
    h2 {
        font-size: 30px;
        color: #d18725;
    }
    .par p {
        font-size: 16px;
    }
    h1 {
        font-size: 58px;
    }
}

@media(max-width: 768px) {
    .teach {
        font-size: 18px;
    }
    nav a {
        font-size: 18px;
    }
    #down a {
        font-size: 18px;
    }
    h1 {
        font-size: 54px;
    }
    .par p {
        font-size: 15px;
        margin-left: 10px;
    }
}

@media(max-width: 425px) {
    .teach {
        font-size: 12px;
    }
    nav a {
        font-size: 12px;
        margin-right: 10px;
    }
    #down a {
        font-size: 12px;
    }
    h1 {
        font-size: 45px;
    }
    .par p {
        font-size: 12px;
        margin-left: 10px;
    }
    .project {
        width: 300px;
        margin-top: 10px;
        font-size: 12px;
        margin-left: 20px;
    }
    h2 {
        margin-top: 10px;
        font-size: 25px;
    }
    .tech {
        font-size: 10px;
        padding-left: 40px;
        padding-right: 60px;
    }
}

@media(max-width: 375px) {
    h1 {
        font-size: 35px;
        margin-bottom: 3px;
    }
    .project {
        width: 260px;
        font-size: 10px;
        margin-top: 4px;
    }
}

@media(max-width: 320px) {
    #down a {
        font-size: 10px;
        margin-right: 10px;
    }
    nav a {
        font-size: 10px;
    }
    .teach {
        font-size: 10px;
    }
    .tech {
        padding-left: 20px;
        padding-right: 50px;
    }
    h2 {
        font-size: 20px;
    }
}