*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    
}

.teach {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

nav {
    display: inline-block;
}

nav a {
    color: #FFC700;
    text-decoration: none;
    margin-right: 45px;
    font-weight: normal;
    font-size: 24px;
}

.container{
    max-width: 1300px;
    margin: auto;
}

h1{
    
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;
text-align: center;
color: #000000;
padding-bottom:30px; 
}

.seet-pgp{
    display: flex;
    justify-content: center;
}
.pgp p{
    margin-right:400px;
}

.pgp div{

    padding-top:15px;
    width: 390px;
    background-color: #FFC700; 
}

.pgp2 div{

    padding-top:15px;
    width: 390px;
    background-color: #DFDFDF; 
}

.pop{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input{
    width: 640px;
    padding-top:23px;
    padding-bottom: 23px;
    margin-top: 20px; 
    font-size:  35px;
    
}

select{
    width: 640px;
    margin-top: 20px;
    padding-right: 120px;
    padding-top: 23px;
    padding-bottom: 23px;
    color: #666666;
    font-size:  35px;
}

.ter{
    color: #ffffff;
    background-color: #FFC700;
    margin-top:25px;
    width: 640px;
    height: 90px;
    font-size:  35px;
    border: none;
}

.put{
    display: flex;
}


footer{
    margin-top: 60px;
}

.taught{
    display: flex;
    justify-content: space-between;
}



nav a{
    color: #FFC700;
    text-decoration: none;
    font-weight: normal;
    font-size: 24px;
}

footer{
    background: rgba(255, 199, 0, 0.4);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.firma{
    display: flex;
    justify-content: space-between;
}

#down a{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: black;
}

.firma{
    padding-top: 62px;
}

#cheater{
    display: flex;
    justify-content: flex-end;
}

.tech{
    background: #454545;
    width: 310px;
    height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    padding: 14px 86px;
    margin-top: 54px;
    margin-bottom: 113px;
}

@media(max-width: 768px){
    .teach{
        font-size:18px;
    }
    nav a{
        font-size:18px;
        margin-right:15px
    }
    h1{
        font-size: 50px
    }
    .pgp div{
        width: 200px;
    }
    .pgp2 div{
        width: 200px
    }
    input{
        width: 500px;
    }
    select{
        width: 500px;
    }
    .put button{
        width: 500px
    }
}
@media(max-width: 425px){
    .teach{
        font-size: 13px
    }
    nav a{
        font-size: 13px;
        margin-right: 13px;
    }
    h1{
        font-size: 30px;
    }
    .pgp div{
        
        width: 150px;
    }
    .pgp2 div{
       
        width:150px;
    }
    .pgp p{
        margin-right: 190px;
    }
    input{
        width: 300px;
        font-size: 20px;
    }
    select{
        width: 300px;
        font-size: 20px;
    }
    .put button{
        width: 300px;
    }
    #down a{
        font-size:13px;
    }
   .tech {
       width:250px;
        padding-right: 55px;
        padding-left: 55px;
        
    }
}
@media(max-width:375px){
    .teach{
        font-size: 12px;
    }
    nav a{
        font-size: 12px;
        margin-right: 5PX;
    }
    h1{
        font-size: 20px;
        
    }
    .pgp p{
        margin-right: 140px;
    }
     .tech {
        padding-right: 30px;
        padding-left: 30px;
        font-size: 10px;
        width: 200px;
        padding-top: 20px
    }

}
@media(max-width: 320px){
    .teach{
        font-size: 10px;
    }
    nav a{
        font-size: 10px;
    }
    .pgp div{
        width: 100px;
    }
    .pgp2 div{
        width: 100px;
    }
    input{
        width: 240px;
        font-size: 16px
    }
    select{
        width: 240px;
        font-size: 16px;
        padding-right:1px;
    }
    .put button{
        width: 240px;
    }
    #down a{ 
        font-size: 10px;
    }
    .tech{
        padding-right: 30px;
        padding-left: 30px;
        font-size: 10px;
        width: 150px;
        padding-top: 20p
    }
}
