*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.teach {
    display: inline-block;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-right: 595px;
}

nav {
    display: inline-block;
}

nav a {
    color: #FFC700;
    text-decoration: none;
    margin-right: 45px;
    font-weight: normal;
    font-size: 24px;
}

.container{
    max-width: 1300px;
    margin: auto;
}

h1{
    
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;
text-align: center;
color: #000000;
padding-bottom:30px; 
}

.seet-lol{
    display: flex;
    justify-content: center;
}
.lol p{
    margin-right:400px;
}

.lol div{
    padding-top:15px;
    width: 390px;
    background-color: #FFC700; 
}

.lol2 div{
    padding-top:15px;
    width: 390px;
    background-color: #DFDFDF; 
}

.pop{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input{
    width: 640px;
    padding-top:23px;
    padding-bottom: 23px;
    margin-top: 20px; 
    font-size:  35px;
    
}

select{
    width: 640px;
    margin-top: 20px;
    padding-right: 120px;
    padding-top: 23px;
    padding-bottom: 23px;
    color: #666666;
    font-size:  35px;
}

.put{
    color: #ffffff;
    background-color: #FFC700;
    margin-top:25px;
    width: 640px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size:  35px;
    padding-left: 255px;
}
@media(max-width:1300px){
    .container{
        max-width: 90%;
    }
    .teach{
        margin-right: 20px;
    }
}

@media(max-width:837px){
    .teach{
        margin-right: 30%;
    }
}

@media{
    h1{
        font-size:50px ;
    }
}
